# Node
node_modules/

# Build outputs
dist/
build/
public/build/

# Environment files
.env
.env.*.local

# Vite / cache
.vite/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Coverage
coverage/

# Editor and OS files
.DS_Store
.vscode/
.idea/

# Package manager
.pnpm-debug.log

# Misc
*.tgz
*.gz
